<!DOCTYPE html>
<html>
<head>
  <title>Orbital defence engine</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "orb_def/application", media: "all" %>
  <%= javascript_include_tag "orb_def/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
